@font-face {
    font-family: "WebSymbolsRegular";
    src: url(/assets/fonts/websymbols/websymbols-regular-webfont.eot);
    src: url(/assets/fonts//websymbols/websymbols-regular-webfont.eot?#ieclearfix) format("embedded-opentype"),
         url(/assets/fonts/websymbols/websymbols-regular-webfont.woff) format("woff"),
         url(/assets/fonts/websymbols/websymbols-regular-webfont.ttf) format("truetype"),
         url(/assets/fonts//websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular) format("svg");
    font-weight: normal;
    font-style: normal;
}