@media (max-width: 1380px){

    /*---------- IN: FOOTER ----------*/
    .otrosJuegosFooter h2{
        font-size: 35px;
    }
    /*---------- FN: FOOTER ----------*/

    /*---------- IN: JEFES ----------*/
    .contenidoJefes1{
        grid-template-areas:
        "texto1Jefes1 img1Jefes1"
        "texto2Jefes1 texto2Jefes1"
        "texto3Jefes1 texto3Jefes1"
        "texto4Jefes1 texto4Jefes1"
        "texto5Jefes1 texto5Jefes1";
    }
    .contenidoJefes2{
        grid-template-rows: 5;
        grid-template-areas:
        "texto1Jefes2 texto1Jefes2"
        "img1Jefes2 img1Jefes2"
        "texto2Jefes2 texto2Jefes2"
        "texto3Jefes2 texto3Jefes2"
        "texto4Jefes2 texto4Jefes2";
    }
    .contenidoJefes3{
        grid-template-rows: 5;
        grid-template-areas:
        "texto1Jefes3 texto1Jefes3"
        "img1Jefes3 img1Jefes3"
        "texto2Jefes3 texto2Jefes3"
        "texto3Jefes3 texto3Jefes3"
        "texto4Jefes3 texto4Jefes3";
    }

    /*---------- FN: JEFES ----------*/
}